@page "{name}"
@model BlueModas.UI.Pages.ProductModel
@{
}


<div>
    <p>@Model.Product.Name</p>
    <p>@Model.Product.Description</p>
    <p>@Model.Product.Price</p>
    <div>
        <form method="post">

            <label>Stock</label>
            <select asp-for="CartViewModel.StockId">
                @foreach (var s in Model.Product.Stock)
                {
                    <option value="@s.Id">@s.Description</option>
                }
            </select>
            <label>Quantity:</label>
            <input asp-for="CartViewModel.Quantity" />
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
@await Component.InvokeAsync("Cart")